@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

:root{
    font-family: 'Montserrat', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* inicio header */
.navColor{
    background-color: #05183c;
}
/* fin header */

/* inicio main "index" */
.slide1 {
    background-image: url(../assets/img/slide1.jpg);
}

.slide2 {
    background-image: url(../assets/img/slide2.jpg);
}

.slide3 {
    background-image: url(../assets/img/slide4.jpg);
}

.carousel-item{
    height: 30rem;
    background-position: center;
    background-size: cover;
}
/* fin main "index" */

/* inicio section "index" */
.bgColor{
    background-color: #101217;
}

.bgColor h1{
    text-align: center;
    text-shadow: 1px 1px 2px #444444;
}

.bgColor p{
    text-align: center;
    font-size: 18px;
}

.textI::first-letter{
    font-size: 25px;
}

.textI:hover{
    color: #808080;
    transition: 1s;
}

section h1:hover{
    color: #808080;
    transition: 0.4s;
}
/* fin section "index" */

/* inicio footer */
footer{
    height: 100px;
    background-color: #05183c;
    width: 100%;
}

.redes{
    color: #ffffff;
}

.ft{
    text-shadow: 2px 2px 3px #444444;
}
/* Fin Footer */

/* inicio section "productos" */
.mainVN{
    min-height: 1100px;
}

.mainVN h2{
    text-shadow: 1px 1px 2px #444444;
}

.cardVN:hover{
    transform: scale(1.10);
    transition: 1s;
}
/* Fin section "productos" */

/* inicio section "contacto */
.contacto{
    height: 550px;
    background-color: #101217;
}
/* fin section "contacto" */